<% title "Новости" %>
<% @posts.each do |post| %>
    <article>

      <header>
        <h1><%= link_to post.title, post_path(post) %></h1>
        <div class="postmeta">
          <time datetime="<%= post.created_at.to_date %>"><%= post.created_at.to_s(:short) %></time>
        </div>
      </header>
      <p><%= post.content %></p>
      <p>&nbsp;</p>

    </article>
<% end %>